.DS_Store
.vscode/
.idea/

.env.local
.env.local.php
.env.*.local
.env.local.php.bak

/config/.env
/config/.env.local
/config/.env.local.php
/config/.env.prod.local
/config/gcp/
/assets/vendor/

/node_modules/
/vendor/
/var/

/public/dist/
/public/vendor/
/public/uploads/

